.Joke{
    display: flex;
    border-bottom: 2px solid #eeeeee;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    padding: 1rem;
}

.Joke-vote-btns{
    display: flex;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
    /* width: 15%; */
}
.Joke-rating{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-weight: 300;
    font-size: 1.2rem;
    border: 3px solid red;
    text-align: center;
    box-shadow: 0 10px 38px rgba(0, 0, 0, 0.2), 0 10px 12px rgba(0, 0, 0, 0.1);

}
.Joke-text{
    width: 75%;
    font-size: 1.2rem;
}
.fa-arrow-up, .fa-arrow-down{
    font-size: 1.5rem;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.fa-arrow-up:hover{
    animation: move-up .8s ease-out;
    color: green;
}
@keyframes move-up {
    0%,
    50%,
    100%{
        transform: translateY(0);
    }
    25%,
    75%{
        transform: translateY(-3px);
    }
}
.fa-arrow-down:hover{
    animation: move-down .8s ease-out;
    color: red;
}
@keyframes move-down {
    0%,
    50%,
    100%{
        transform: translateY(0);
    }
    25%,
    75%{
        transform: translateY(3px);
    }
}
.Joke-emoji{
    font-size: 3rem;
    margin-left: auto;
    border-radius: 50%;
}

.Joke-emoji:hover{
    animation: emoji-spin 1s ease;
}

@keyframes emoji-spin{
    0%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(20deg);
    }
    60%{
        transform: rotate(0deg);
    }
    80%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
}
