.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Gradient background CSS */
  background: linear-gradient(45deg, yellow, orange, red);
  animation: gradient 6s infinite alternate;
  background-size: 400% 400%;
  font-family: "Rubik", sans-serif;
  color: #78909c;
}
/* Animation for the background */
@keyframes gradient{
  0%{
    background-position: 0%;
  }
  50%{
    background-position:100%;
  }
  100%{
    background-position:0%;
  }
}